<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>选项卡</title>
    </head>
    <script src="./vue.js"></script>
    <body>
      <ul id="example-1">
        <li v-for="item in items">
          {{ item }}
          <li v-for="item in list">
          {{ item }}
        </li>
        </li>
      </ul>
      
      <script>
        const example1 = new Vue({
          el: '#example-1',
          data: {
            items: [4,6],
            list:[1,2,3]
          }
        })
      </script>
    </body>
</html>